#header_div{
    height: 80px;
    background-color: rgb(104, 104, 104);
}
#body{
    background-color: rgb(69, 69, 69);

}
.client_link{
    color: aqua;
    
}
#server_add_lable{
    color: aqua;
}

.server_fields_label{
    color: aqua;
}
.user_stat{
    color: aqua;
}